

<table id="articles" class="display" style="width: 100%;" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Last updated</th>
    </tr>
  </thead>
  
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.tags %></td>
        <td><%= article.last_updated %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
    oTable = $('#articles').dataTable({
        "bJQueryUI": true,
        "bSort": true,
        "bFilter": true,
        "iDisplayLength": 15,
        "sPaginationType": "full_numbers",
        "aLengthMenu": [
            [5, 15, 25, 50, -1],
            [5, 15, 25, 50, "All"]
        ]
    });
</script>



